{% extends "base.html" %}
{% block name %}Error{% endblock %}
{% block css %}
.mainblock{
    background-color: #d8d8d8;
}
{% endblock %}
{% block content %}
<h1> Error</h1>
<hr>
<br>
<b>
<div >
<div class="text-error" >
    <p class="text-error">
    {% if message %}
        {{ message|linebreaks }}
        <h1> {{ diff }}</h1>
    {% endif %}
    </p>
</div>
    <a href="/">
        <button class="btn btn-info btn-medium">
            Return
        </button>
    </a>
</div>
</b>
{% endblock %}
