{% extends "base.html" %}
{% block name %}About {% endblock %}

{% block content %}
<h2>CodeIT </h2>
<hr>
<table width="85%">
    <tr>
        <td>Version 1.0 beta</td>
        <td align="right"><strong><a href="/feedback/">Feedback</a></strong></td>
    </tr>
</table>

<p class="lead">

    CodeIT is an event hosted by our group to inhance and<br>
    encourage programming skills for every student through<br>
    programming problems.<br>
    <br>

    <strong>We support platform which<br>
    Decides ambition..<br>
    Encourages innovation...<br>
    Evaluates perception...!!<br></strong>
    <br>
    <a href="/contact/">Know More About Us.</a>
</p>
{% endblock %}
