{% extends "base.html" %}
{% block name %}Contact{% endblock %}
{% block content %}
<h1> Contacts to be updated. </h1>
<hr>
  <address>
    <table class="table">
      <tr>
        <td>Sanket Sudake</td>
        <td><a href="mailto:sanketsudake@gmail.com">sanketsudake@gmail.com</a></td>
      </tr>

      <tr>
        <td>Nikhil Pachpande</td>
        <td><a href="mailto:pachpandenikhil@gmail.com">pachpandenikhil@gmail.com</a></td>
      </tr>

      <tr>
        <td>Prathamesh Sonpatki</td>
        <td></td>
      </tr>

      <tr>
        <td>Sagar Rakshe</td>
        <td><a href="mailto:sagarrakshe2@gmail.com">sagarrakshe2@gmail.com</a></td>
      </tr>

      <tr>
        <td>Chandan Kawale</td>
        <td></td>
      </tr>

      <tr>
        <td>Vinay Hiwarkar</td>
        <td></td>
      </tr>

      <tr>
        <td>Prasanna Mahajan</td>
        <td></td>
      </tr>

      <tr>
        <td>Prasad Lingawar</td>
        <td></td>
      </tr>

      <tr>
        <td>Savitru U.</td>
        <td></td>
      </tr>

      <tr>
        <td>Shreyash Nangunrwar</td>
        <td></td>
      </tr>




    </table>
</address>

{% endblock %}
