{% extends "base.html" %}

{% block content %}
<h1> Contacts to be updated. </h1>
<div>
    <address>
        <p>
            Sanket Sudake
        <a href="mailto:sanketsudake@gmail.com">
            sanketsudake@gmail.com
        </a>
    </p>
    <p>
        Nikhil Pachpande
        <a href="mailto:pachpandenikhil@gmail.com">
            pachpandenikhil@gmail.com
        </a>
    </p>
    <p>
        Prathamesh Sonpatki
    </p>
    <p>
        Sagar Rakshe
    </p>
</address>
</div>
{% endblock %}
