{% extends "base.html" %}
{% block name %}Contact{% endblock %}

{% block layout %}
<style type="text/css">
  .table{
  max-width: 85%;
  margin-left: 25px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  }
</style>
{% endblock %}

{% block content %}

<h2> Contacts</h2>
<hr>
<table class="table table-hover">
  <tr>
    <td>Sanket Sudake</td>
    <td><a href="mailto:sanketsudake@gmail.com">sanketsudake@gmail.com</a></td>
  </tr>

  <tr>
    <td>Nikhil Pachpande</td>
    <td><a href="mailto:pachpandenikhil@gmail.com">pachpandenikhil@gmail.com</a></td>
  </tr>

  <tr>
    <td>Prathamesh Sonpatki</td>
    <td></td>
  </tr>

  <tr>
    <td>Sagar Rakshe</td>
    <td><a href="mailto:srrakshe419@gmail.com">srrashe419@gmail.com</a></td>
  </tr>

  <tr>
    <td>Chandan Kawale</td>
    <td></td>
  </tr>

  <tr>
    <td>Vinay Hiwarkar</td>
    <td></td>
  </tr>

  <tr>
    <td>Prasanna Mahajan</td>
    <td></td>
  </tr>

  <tr>
    <td>Prasad Lingawar</td>
    <td></td>
  </tr>

  <tr>
    <td>Savitru U.</td>
    <td></td>
  </tr>

  <tr>
    <td>Shreyash Nangunrwar</td>
    <td></td>
  </tr>

</table>


{% endblock %}
