{% extends "base.html" %}

{% block name %}Feedback{% endblock %}
{% block layout %}
<style type="text/css">
textarea{
  width: 60%;
  height:100px;
  background-color: #FFE4B5;
  color: #000000;
}
</style>
{% endblock %}
{% block content %}
<p class="lead text-info ">Please give your suggestions.</p>

<form action="." method="post">{% csrf_token %}
  <ul>
    <strong>
      <li>About Software<br>{{ fd.fdsoft }}</li>
      <li>About Problems<br>{{ fd.fdproblem }} </li>
      <li>Should we conduct such competitions later<br>{{ fd.fdsugg }}</li>
    </strong>
  </ul>
  <p class="lead"> {{ msg }} </p>
    {% if fd.errors %}
    {% for i in fd %}
    {% if i.errors %}
    {{ i.label }}
    {{ i.errors }}
    {% endif %}
    {% endfor %}
    {% endif %}
    <br>
  -->
  <button type="submit" class="btn btn-primary" data-title="Submit" title="Submit feedback" data-delay:{show:500,hide:100}>
    <i class="icon-user icon-white"></i> Submit
  </button>
</form>

{% endblock %}
