{% extends "base.html" %}

{% block name %}Feedback{% endblock %}
{% block layout %}
<style type="text/css">
textarea{
  width: 60%;
  height:100px;
  background-color: #FFE4B5;
  color: #000000;
}
</style>
{% endblock %}
{% block content %}
<p class="lead text-info ">Please give your suggestions.</p>

<ul>
    <strong>
    <li>About Software<br><textarea></textarea></li>
    <li>About Problems<br><textarea></textarea></li>
    <li>Should we conduct such competitions later<br><textarea></textarea></li>
    </strong>
</ul>
<button type="submit" class="btn btn-primary" data-title="Submit" title="Submit feedback" data-delay:{show:500,hide:100}>
              <i class="icon-user icon-white"></i> Submit
            </button>

{% endblock %}
