{% extends "base.html" %}

{% block name %} Home {% endblock %}

{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>

<table width="85%">
  <tr>
    <td><h2 title="See problems to solve">Problems<h2></td>
    <td align="right"><label>Logged in as <a href="#">{{ username }}</a> </label></td>
  </tr>
</table>

<hr>

<div class="row-fluid">
  <div class="row">
    <div class="span3" style="padding-left: 40px;">
      <img src="{{STATIC_URL}}img/110.jpg" width="60%" height="55%" class="image-rounded">
    </div>
    <div  style="padding-left: 5px; color: #8B008B;">
      <h3>Test your skills</h3>
      <p >Try to solve as many problems as you can within the stipulated time.<br>
        <b>Click on a problem type to see problems.</b>You will get complete marks for a problem<br>
        if the solution you submitted is agreed by judges.
        <p style="margin-left: 50px;">HAPPY CODING!!!</p>
      </p>
    </div>
    <div class="span3">
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="container" style="padding-left: 30px;">
    <table width="85%" height="100%">
      <tr>
        <td align="center">
          <label id="easy" align="center" title="click to see easy problems below" onmouseover="changePointer(this)" style="background-color:#D3D3D3;" height="50" onmouseout="changePointer2(this)"><b>EASY</b></label>
        </td>
        <td align="center">
          <label id="medium" align="center" title="click to see medium problems below" onmouseover="changePointer(this)" style="background-color:#D3D3D3" onmouseout="changePointer2(this)"><b>MEDIUM</b></label>
        </td>
        <td align="center">
          <label id="hard" align="center" title="click to see hard problems below" onmouseover="changePointer(this)" style="background-color:#D3D3D3" onmouseout="changePointer2(this)"><b>HARD</b></label>
        </td>
      </tr>
    </table>
  </div>
</div>

<hr>

<div class="pshower">
  <div class="another">
  <b>
  <table id="myproblems" class="table table-hover" title="click to see details">
  </table>
  </b>
  </div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
