{% extends "base.html" %}

{% block name %} Home {% endblock %}

{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>

<table width="85%">
  <tr>
    <td><h2 title="See problems to solve">Problems<h2></td>
    <td align="right"><label>Logged in as <a href="#">{{ username }}</a> </label></td>
  </tr>
</table>

<hr>

<div class="row-fluid">
  <div class="row">
    <div class="span3" style="padding-left: 40px;">
      <img src="{{STATIC_URL}}img/110.jpg" width="60%" height="55%" class="image-rounded">
    </div>
    <div  style="padding-left: 5px;">
      <p style="font-size: 40px; color: #D2691E;"><b>Test your skills</b></p>
      <p style="font-size: 20px;"><br><br>Try to solve as many problems as you can within the stipulated time.<br>
        Click on a problem type to see problems.You will get complete marks for a <br> problem
        if the solution you submitted is agreed by judges.
        <p style="margin-left: 50px; font-size: 20px"><b>HAPPY CODING!!!</b></p>
      </p>
    </div>
    <div class="span3">
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="container" style="padding-left: 30px;">
    <table width="85%" height="100%">
      <tr>
        <td align="center">
          <p id="easy" align="center" title="click to see easy problems below" onmouseover="changePointer(this)" style="background-color:#D3D3D3;" height="50" onmouseout="changePointer2(this)" onclick="changeColor(this)"><b>EASY</b></p>
        </td>
        <td align="center">
          <p id="medium" align="center" title="click to see medium problems below" onmouseover="changePointer(this)" style="background-color:#D3D3D3" onmouseout="changePointer2(this)"><b>MEDIUM</b></p>
        </td>
        <td align="center">
          <p id="hard" align="center" title="click to see hard problems below" onmouseover="changePointer(this)" style="background-color:#D3D3D3" onmouseout="changePointer2(this)"><b>HARD</b></p>
        </td>
      </tr>
    <tr>
  <td colspan="3">
  <div class="another">
  <b>
  <table id="myproblems" class="table table-hover" title="click to see details">
  </table>
  </b>
</div>
</td>
</tr>
</table>
</div>
</div>
<hr>
<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
