{% extends "base.html" %}

{% block name %}Login{% endblock %}

{% block layout %}
<style>
</style>
{% endblock %}

{% block content %}
<h2>Welcome to CodeIT</h2>

<table cellpadding="15">
  <tr>
    <td>
      <div id="myCarousel" class="carousel slide" data-interval="1500" style=" margin-left: 80px;">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><a href="#"><img src="{{STATIC_URL}}img/bg.png" width="350" height="350" class="img-polaroid"></a></div>
          <div class="item"><a href="#"><img src="{{STATIC_URL}}img/bg.png" width="350" height="350" class="img-polaroid"></a></div>
          <div class="item"><a href="#"><img src="{{STATIC_URL}}img/bg.png"width="350" height="350" class="img-polaroid"></a></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </td>
    <td>
      <div>
        <form action="." class="signin" method="post" >{% csrf_token %}
          <div align="right">
            {% if userform.errors %}
            {% for i in userform %}
            {% if i.errors %}
            {{ i.label }}
            {{ i.errors }}
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>

          <fieldset class="textbox">
            <p>{{ userform.receipt_no }}</p>
            <p>{{ userform.first_name }}</p>
            <p>{{ userform.last_name }}</p>
            <p>{{ userform.year }}</p>
          </fieldset>

           <fieldset class="subchck">
            <button type="submit" class="btn btn-primary" data-title="Sign In" title="Click here to Sign In" data-delay:{show:500,hide:100}>
              <i class="icon-user icon-white"></i> Sign in
            </button>
          </fieldset>
        </form>

      </div>
    </td>
  </tr>
</table>

<a href="/demo/" style="margin-left: 30px;">
  <button class="btn btn-medium btn-success" onclick="showStatement()" title="Click here for demo">
    Demo <i class="icon-thumbs-up icon-white"></i>
  </button>
</a>

<br><br><br>

{% endblock %}
