{% extends "base.html" %}
{% block name %}CodeIT - Home{% endblock %}
{% block layout %}
{% endblock %}

{% block content %}
<h1>{{problem.name }}</h1>
<b>Points :-</b> {{ problem.points }}
<div id="statement">
  <b> Statement :- </b>
  {{ problem.statement|linebreaks }}
  <b> Sample Input :- </b>
  {{ problem.sample_input|linebreaks}}
  <b> Sample Output :- </b>
  {{ problem.sample_output|linebreaks}}
  <form method="post" enctype="multipart/form-data" action="/solution/{{problem.id}}/" >
    <textarea rows="15" cols="80"></textarea>
    {% csrf_token %}
    {{ fileuploadform.as_p }}
    <input value="Submit" type="submit"></input>
  </form>
</div>
{% endblock %}
