{% extends "base.html" %}
{% block name %}Problem{% endblock %}

{% block layout %}
<style type="text/css">
.points{
  background-color: #7B68EE;
  color: #ffffff;
  width: 125px;
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 78%;
}
.board{
    background-color:#FAFAD2;
    border:1px solid gray;
    border-radius: 5px;
    padding:10px;
    margin-left:20px;
    margin-right: 150px;
    color:#8B4513;
}
.bond{
  background-color: #009060;
  color: #ffffff;
  width: 150px;
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;

}
.styled-select select {
   background: transparent;
   width: 148px;
   padding: 5px;
   line-height: 1;
   border: 0;
   border-radius: 0px;
   height: 27px;
   }
.styled-select {
   width: 120px;
   height: 27px;
   overflow: hidden;
   background: url("{{STATIC_URL}}img/down_arrow_select.jpg") no-repeat right #ddd;
   border: 1px solid #ccc;
 }
</style>
{% endblock %}

{% block content %}

<table width=85%>
  <tr>
    <td><h2>{{problem.name}}</h2></td>
    <td align="right"><label>Logged in as <a href="#">{{ username }}</a> </label></td>
  </tr>
</table>
<hr>
<div>
  <p class="points" align="center">
    <strong >Points :  &nbsp;{{ problem.points }}</strong>
  </p>
</div>

<p class="bond" align="center"><strong>Problem Statement</strong></p>


<div class="board" width="85%">
  {{ problem.statement|linebreaks }}
</div>


<br>
<p class="bond"><strong>Sample Input</strong></p><br>
<div class="board" width="85%">
  {{ problem.sample_input|linebreaks}}
</div>

<br>
<p class="bond"><strong>Sample Output</strong></p><br>
<div class="board" width="85%">
  {{ problem.sample_output|linebreaks}}
</div>

<br>

<form method="post" enctype="multipart/form-data" action="/solution/{{problem.id}}/" onsubmit="return validateForm()" >
  {% csrf_token %}
  <p class="bond"><strong>Upload code file</strong></p>
  <p>{{ fileuploadform.code }}&nbsp;&nbsp;
    <u><a title="Clear file path" href="#id_code" id="clear" style="cursor: pointer">Clear</a></p></u>
  <p class="bond"><strong>Select your language</strong></p>
  <div class="styled-select">
   <p>{{ fileuploadform.picked }}</p>
 </div>
 <br>
 <input type="submit" class="btn btn-primary xbt" value="Submit">
</form>
<script type="text/javascript" src="{{STATIC_URL}}js/problem.js"></script>

<div id="first" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header"> 
    <div class="alert-error alert-block">
      <strong>Oh Snap!</strong> Change a few things up and try submitting again.
   </div> 
      <p style="color: black"><br>Uploaded file format does not match with selected</p>
    <div align="right">  
      <a href="#" class="btn btn-success" data-dismiss="modal">Got It!</a>  
      <a href="#" class="btn" data-dismiss="modal">Close</a>  
    </div>  
  </div>
</div>

<div id="second" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header"> 
    <div class="alert-error alert-block">
      <strong>Oh Snap!</strong> Change a few things up and try submitting again.
   </div> 
      <p style="color: black"><br>Please select a file to upload</p>
    <div align="right">  
      <a href="#" class="btn btn-success" data-dismiss="modal">Got It!</a>  
      <a href="#" class="btn" data-dismiss="modal">Close</a>  
    </div>  
  </div>
</div>

{% endblock %}
