{% extends "base.html" %}
{% block name %}Ranking{% endblock %}
{% block layout %}
<style type="text/css">
  .table{
  max-width: 85%;
  margin-left: 25px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  }

</style>
{% endblock %}

{% block content %}

<table width=85%>
  <tr>
    <td><h2 title="Here you can see current ranking">Ranking</h2></td>
    <td align="right"><label>Logged in as <a href="#">{{ username }}</a> </label></td>
  </tr>
</table>

<hr>

<br>
<table class="table table-hover" title="Shows current ranking for all submissions">
  <thead>
    <tr class="success">
      <th>Sr.No</th>
      <th>Name</th>
      <th>Year</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody title="click to see submissions by this user.">
    {% for i in userlist %}
    <tr class="another">
      <td>{{ forloop.counter }}</td>
      <td><a href="/submission/{{i.receipt_no}}">{{ i.first_name }}&nbsp;&nbsp;&nbsp;{{ i.last_name }}</a></td>
      <!--<td>{{ i.last_name }}</td>-->
      <td>{{ i.year|upper }}</td>
      <td>{{ i.total_points }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
