{% extends "base.html" %}
{% block layout %}
<style type="text/css">
.table{
  border: 20px;
  border-radius: 5px;
}
</style>
{% endblock %}
{% block content %}

<h1> Ranking </h1>

<table class="table table-hover " >
  <thead>
    <tr class="success">
      <th>Sr.No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for i in userlist %}
    <tr class="warning">
      <td>{{ forloop.counter }}</td>
      <td>{{ i.first_name }}</td>
      <td>{{ i.last_name }}</td>
      <td>{{ i.total_points }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
