{% extends "base.html" %}
{% block name %}Solution{% endblock %}
{% block css %}
.show{
  padding: 20px;
  background-color: #FFE4B5;
  color: #000000;
}
code{
    color:#000000;
}
{% endblock %}
{% block content %}

<table width=100%>
    <tr>
      <td><label class="pheader"><b>Solution</b></label></td>
      <td align="right"><label>Logged in as <a href="#">{{ username }}</a> </label></td>
    </tr>
  </table>
<hr>
<div class="show">
  <h4>Code</h4>
  <pre>
  {{ content|linebreaks }}
  </pre>
  <h4>Result</h4>
  <pre>
    {{ result }}
  </pre>

</div>
<hr>
{% endblock %}


form = MyForm(instance = instance.obj)
form.fields['email'].widget.attrs = {'class':'here_class_name'}
