{% extends "base.html" %}
{% block name %}Solution{% endblock %}

{% block layout %}
<style type="text/css">
.show{
  background-color: #FFE4B5;
  background-color: #5E5A80;
  color: #000;
  width: 85%;
  padding: 20px;
  margin-left: 0px;
}
code{
    color:#000;
}
</style>
{% endblock %}

{% block content %}
<table class="table" width="85%">
    <tr>
      <td><h2>Solution<h2></td>
      <td align="right"><label>Logged in as <a href="#">{{ username }}</a> </label></td>
    </tr>
</table>
<hr>
<p>
<div class="container show">
  <h4>Code</h4>
  <pre>
    {{ content|linebreaks }}
  </pre>
  <br>
  <h4>Result</h4>
  <pre>
    {{ result }}
  </pre>
</div>
</p>
<hr>
{% endblock %}
