{# https://docs.djangoproject.com/en/dev/topics/templates/ #}

<!doctype html>
<html lang="en">
<head>

    <title>{% block name %}GCC Adminstration {% endblock %}</title>
    {% block layout %}{% endblock %}

</head>
<body bgcolor="#F5F5D5">

    {# header for all pages #}
    {% block header %}
    <a href="/"><label><h1>CodeIT</h1></label></a>
    {% if username %}
    <div align="right">
        <form action="/logout/" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </div>
    {% endif %}
    {% endblock %}

    {# Your content goes here #}
    {% block content %}{% endblock %}

    {# footer for all pages #}
    {% block footer %}{% endblock %}

</body>
</html>
