{# https://docs.djangoproject.com/en/dev/topics/templates/ #}

<!doctype html>
<html lang="en">
<head>

    <title>{% block name %}GCC Adminstration {% endblock %}</title>
    {% block layout %}{% endblock %}

</head>
<body bgcolor="#F5F5D5">

    {# header for all pages #}
    {% block header %}
    <a href="/"><label>CodeIT</label></a>
    {% if username %}
    <a href="/logout/" align="right"><button>Logout</button></a>

    <hr>
    {% endif %}
    {% endblock %}

    {# Your content goes here #}
    {% block content %}{% endblock %}

    {# footer for all pages #}
    {% block footer %}
    <br>
    <hr>
    <p>
        <a href="/admin/">Admin</a>
        <a href="/blog/">Blog</a>
        <a href="/ranking/">Ranking</a>
    </p>
    <p>Python Powered | CodeIT </p>

    <hr>
    {% endblock %}

</body>
</html>
