<!DOCTYPE html>
<html>
<title>GCC-General Code Competition</title>
<head>
</head>
<body>
    <h1>GCC - General Coding Competition</h1>
    <h2> Extend yourself beyond printf...</h2>
    <hr>
    <article>

        <u>Logic, Skills, Practice, Efficiency</u>
    </article>
    This is coding competion , where you have to solve some problems.<br>
    You can choose your language from supported language.
    <br>
    <p>
        Below are test links ,,Right now for temporary
        <p><a href="/admin/">Admin</a></p>
    </p>
</body>
</html>
